<html>
    <title>Xmeme - Hrishikesh Wadgaonkar</title>
    <head>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
    <h1 style="color: aquamarine;">Xmeme</h1>
    <div>
        <form action="/add" method="POST">
        <div>
            <label for="memeOwner">memeOwner.... :</label>
            <input type="text" id="memeOwner" name="memeOwner" required>
        </div>
        <div>
            <label for="memeCaption">memeCaption.. :</label>
            <input type="text" id="memeCaption" name="memeCaption" required>
        </div>
        <div>
            <label for="memeUrl">memeUrl......... :</label>
            <input type="text" id="memeUrl" name="memeUrl" required>
        </div>
        <button type="submit">Submit</button>
        </form>
    </div>
    <div >
        <ul>
            <% users.forEach(function(user){ %>
            <h2><%= user.memeOwner%></h2>
            <h4><%= user.memeCaption%></h4>
            <img src=<%= user.memeUrl%> width="30%" height="30%">
            <hr>
            <% }); %>
        </ul>
    </div>

    </body>
</html>