<!DOCTYPE html>
<html>
    <body style="text-align: center; text-transform: uppercase;">
        <h1>Hello from backend!</h1>
        <h4>CLICK <a href="http://localhost:3000" target="#">HERE</a> FOR FRONTEND</h4>
    </body>
    

</html>