.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  align-items: center;
  top: 0;
  width: 100%;
  height: 40%;
  justify-content: center;
  color: white;
  position: fixed;
}

.App-body {
  margin-top: 300px;
  background-color: cornsilk;
}

#x {
  color: violet
}
#m{
  color: springgreen
}
#e{
  color: tomato
}
